@import url("https://fonts.cdnfonts.com/css/general-sans");

@import "tailwindcss";

@import "./styles/hero.css";
@import "./styles/three-body.css";
@import "./styles/about.css";
@import "./styles/product.css";
@import "./styles/navbar.css";
@import "./styles/features.css";

/* Font families */
@theme {
  --font-clash: "clash", sans-serif;
  --font-inter: "inter", sans-serif;

  --color-primary: #010101;
  --color-secondary: #f0f2fa;
  --color-accent: #edff66;
  --color-background: #dfdff0;
  --color-background-b: #010101;
  --color-text: #010101;
}

:root {
  font-family: var(--font-inter);
  color: var(--color-text);
}

/* Default Theme (Nature) */
[data-theme="nature"] {
  --color-background: #dfdff0;
  --color-background-b: #010101;
  --color-primary: theme("colors.green.400");
  --color-secondary: theme("colors.green.100");
  --color-accent: theme("colors.green.300");
}

/* Sea Theme */
[data-theme="sea"] {
  --color-background-b: #010101;
  --color-background: #f0f2fa;
  --color-primary: theme("colors.blue.500");
  --color-secondary: theme("colors.blue.200");
  --color-accent: theme("colors.blue.400");
}

/* Moto Theme */
[data-theme="moto"] {
  --color-background: #010101;
  --color-background-b: #f0f2fa;
  --color-primary: theme("colors.yellow.400");
  --color-accent: theme("colors.yellow.300");
  --color-secondary: theme("colors.yellow.100");
}

/* Colors */
@theme {
}

body {
  width: 100dvw;
  overflow-x: hidden;
  font-family: var(--font-inter);
  background-color: var(--color-background);
}

.text-outline {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.text-outline-strong {
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}

@layer base {
  @font-face {
    font-family: "inter";
    src: url("/fonts/inter-variable.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "clash";
    src: url("/fonts/clash-display-variable.woff2") format("woff2");
    font-weight: 200 900;
    font-display: swap;
    font-style: normal;
  }
}

@layer utilities {
  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .animated-title {
    @apply flex flex-col gap-1 text-7xl uppercase leading-[.8] text-white; /* sm:px-32 md:text-[6rem] */
  }
}
